
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=78827f2dd9517158ca35678ffe2ea61c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
